.container {
  margin-top: 2em;
  width: 25em;
  height: 36em;
  
  z-index: 50;
  padding: 0%;
  float: right;
  margin-right: 5em;
}
.rounded.float-right{
  margin-top: 2em;
width: 10em;
height: 11em;
}

.card{
height: 13em;
width: 14em;
border:none;
padding: 1em;
background: linear-gradient(to right, rgb(204, 197, 197),white) no-repeat;
}
.card-title{
  margin-top: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 2em;
}
.d-flex{
  height: 20em;
}
.name{ 
outline: none;
text-align: center;
  width: 16em;
  
  border: none;
  
  border-bottom: 2px solid purple;
}
.btn{
width:10em;
}

.form-check-input{
  height: 1em;
  width: 1em;
}

.shadow-lg{
  box-shadow: 0 0 12px 6px rgb(204, 197, 197) !important;
}